<div class="header-container">
    <div class="menu header-icon">
        <i class="material-icons">menu</i>
    </div>
    <div class="logo">
        <img src="/src/app/shared/icon/menu/Icon-search.png" alt="Menu Icon" class="logo">
    </div>
    <div class="search">

        <div>
          
            <form class="search-form">
                <div class="ic10">
                    <i class="material-icons submit-button">search</i>
  
                 </div>
                <input type="search" value="" placeholder="Search" class="search-input">
              
           
              </form>
          </div>
    </div>
    <div class="profile d-flex m2"> <i class="material-icons mr1">account_circle</i>  <span> username</span></div>
    <div class="notifcations header-icon mr1">
        <i class="material-icons submit-button">notifications</i>
    </div>
    <div class="logout header-icon mr1">
        <i class="material-icons submit-button">cancel</i>
    </div>




</div>