

<div class="login-header">
    <div class="logo">
        <img src="../../shared/icon/menu/Icon-search.png" alt="Menu Icon" class="logo">
    </div>
</div>


<div class="login-bg">



    <!-- <div class="login-container">

        <h3>Hello!</h3>
        <p>login</p>

        <form class="login-form">
            <div class="ic10">
                <i class="material-icons">person </i>

             </div>
            <input type="login" value="" placeholder="username" class="login-input">
          
       

            <div class="ic10">
                <i class="material-icons ">password</i>

             </div>
            <input type="login" value="" placeholder="Search" class="login-input"> 

<button>
    Login
</button>
          </form>
    </div> -->




    <div class=" wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class=""> hallo!</h2>
      <p>login </p>
          <!-- Icon -->
         
      
          <!-- Login Form -->
          <form>

            <input type="text" id="login" class="fadeIn second " name="person" placeholder=" username ">

            <input type="text" id="password" class="fadeIn third " name="password" placeholder="password ">
           

          </form>
          <button (click)="onLogin()">Go to Home</button>
      
      
        </div>
      </div>
</div>